version: '3.8'
services:
  polygon-edge-node1:
    image: 0xpolygon/polygon-edge:1.3.1
    container_name: polygon-edge-node1
    user: root
    restart: unless-stopped
    command: ["server", "--data-dir=/data", "--chain=/genesis/genesis.json", "--libp2p=0.0.0.0:1478", "--nat=172.18.0.5", "--jsonrpc=0.0.0.0:8545", "--seal", "--log-level=INFO"]
    volumes: ["./polygon-edge/data/1:/data", "./polygon-edge/genesis:/genesis:ro"]
    ports: ["8545:8545", "1478:1478"]
    networks:
      polygon_network:
        ipv4_address: 172.18.0.5

  polygon-edge-node2:
    image: 0xpolygon/polygon-edge:1.3.1
    container_name: polygon-edge-node2
    user: root
    restart: unless-stopped
    depends_on: [polygon-edge-node1]
    command: ["server", "--data-dir=/data", "--chain=/genesis/genesis.json", "--libp2p=0.0.0.0:1478", "--nat=172.18.0.3", "--jsonrpc=0.0.0.0:8545", "--seal", "--log-level=INFO"]
    volumes: ["./polygon-edge/data/2:/data", "./polygon-edge/genesis:/genesis:ro"]
    ports: ["8546:8545"]
    networks:
      polygon_network:
        ipv4_address: 172.18.0.3

  polygon-edge-node3:
    image: 0xpolygon/polygon-edge:1.3.1
    container_name: polygon-edge-node3
    user: root
    restart: unless-stopped
    depends_on: [polygon-edge-node1]
    command: ["server", "--data-dir=/data", "--chain=/genesis/genesis.json", "--libp2p=0.0.0.0:1478", "--nat=172.18.0.2", "--jsonrpc=0.0.0.0:8545", "--seal", "--log-level=INFO"]
    volumes: ["./polygon-edge/data/3:/data", "./polygon-edge/genesis:/genesis:ro"]
    ports: ["8547:8545"]
    networks:
      polygon_network:
        ipv4_address: 172.18.0.2

  polygon-edge-node4:
    image: 0xpolygon/polygon-edge:1.3.1
    container_name: polygon-edge-node4
    user: root
    restart: unless-stopped
    depends_on: [polygon-edge-node1]
    command: ["server", "--data-dir=/data", "--chain=/genesis/genesis.json", "--libp2p=0.0.0.0:1478", "--nat=172.18.0.4", "--jsonrpc=0.0.0.0:8545", "--seal", "--log-level=INFO"]
    volumes: ["./polygon-edge/data/4:/data", "./polygon-edge/genesis:/genesis:ro"]
    ports: ["8548:8545"]
    networks:
      polygon_network:
        ipv4_address: 172.18.0.4

networks:
  polygon_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
